@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/Roboto-Regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-style: light;
    font-weight: 300;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/Roboto-Light.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/Roboto-Light.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 900;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/Roboto-Bold.woff2") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/Roboto-Bold.woff") format("woff2");
  }